@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:sans-serif;
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
      color: #333;
      font-size: 100%;
      line-height: 1.5;
   }
  
  
  .Square {
    background-color: #c77700;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    clip-path: circle(50% at right 50%);
    z-index: 1;
  }


  body {
    background-color: #171717ce;
    background-image: linear-gradient(orange, yellow);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  




  #top {
    height: 100vh;
    background-color: #1717171f;
    width: 100%;
    position: relative;
    z-index: 100;
  }



/* ok right under is osme */



 nav {
	 --duration: .5s;
	 --easing: ease-in-out;
	 position: relative;
	 width: 220px;
	 margin: 20px;
}
 nav ol {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
}
 nav li {
	 margin: -4px 0 0 0;
}
 nav a {
	 display: block;
	 text-decoration: none;
	 background: #fff;
	 transform-origin: 0 0;
	 transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
	 transition-delay: var(--delay-out);
	 border-radius: 4px;
	 padding: 1em 1.52em;
}
 nav a:hover {
	 background: #efefef;
}
 nav .sub-menu a {
	 font-size: .9em;
	 color: #666666;
	 border-left: 2em solid white;
	 padding: .75em;
	 background: linear-gradient(to right,#ddd 2px,#fff 2px);
}
 nav .sub-menu a:hover {
	 background: linear-gradient(to right,#ddd 2px,#efefef 2px);
}
 nav header {
	 font-weight: 600;
	 display: block;
	 background: rgba(255,255,255,0.5);
	 transform-origin: 0 0;
	 transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
	 transition-delay: var(--delay-out);
	 border-radius: 4px;
	 padding: 1em 1.52em;
}
 nav header span {
	 border: none;
	 background: transparent;
	 font-size: 1.5em;
	 padding: 0;
	 cursor: pointer;
	 line-height: 1;
	 float: right;
}
 nav footer button {
	 position: absolute;
	 top: 0;
	 left: 0;
	 border: none;
	 padding: calc(1em - 2px);
	 width: 100%;
	 transform-origin: 0 0;
	 transition: transform var(--duration) var(--easing);
	 transition-delay: calc(var(--duration) + (.1s * (var(--count) / 2)));
	 cursor: pointer;
	 outline: none;
	 background: #cdcdcd;
	 opacity: 0;
}
 nav.closed a, nav.closed header {
	 transform: translateY(calc(var(--top) * -1)) scaleY(0.1) scaleX(.2);
	 transition-delay: var(--delay-in);
	 color: transparent;
}
 nav.closed footer button {
	 transition-delay: 0s;
	 transform: scaleY(.7) scaleX(.2);
}
  /* *mad* */



  #middle {
    background-image: url(images/duckbg1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 100;
  }



/*adding rain img and making opacity 0*/ 
#middle:before { 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-image: url(https://i.gifer.com/origin/74/74043b11818c7a40ae726b01c8eb4a43_w200.webp); 
    animation: rain 0.4s linear infinite; 
    opacity: 0; 
} 
/* just changing the position of image  
of rain using keyframes*/ 
@keyframes rain { 
    0% { 
        background-position: 0 0; 
        opacity: 1; 
    } 

    100% { 
        background-position: 8% 80%; 
        opacity: 1; 
    } 
} 


