@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:sans-serif;
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
      color: #333;
      font-size: 100%;
      line-height: 1.5;
   }
  
  
  .Square {
    background-color:#c77700;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    clip-path: circle(50% at right 50%);
    z-index: 1;
  }


  body {
    background-color: #171717ce;
    background-image: linear-gradient(orange, yellow);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  




  #top {
    height: 100vh;
    background-color: #1717171f;
    width: 100%;
    position: relative;
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
  }



/* ok right under is osme */



a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.side-nav {
  background-color: rgba(0, 0, 0, 0.91);
  width: 300px !important;
  height: 638px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  position: relative;
  top: 0;
  left: -300px;
  transition: left .5s ease;
}

.side-nav .sections {
  margin: 0;
  padding-left: 0;
  padding-top: 90px;
}

.side-nav .sections li {
  width: 125px;
  display: block;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 0;
  font-size: 25px;
  color: #818181;
  transition: color .5s ease;
}

.side-nav .sections a:hover:before {
  width: 100%;
}

.side-nav .sections li:hover {
  cursor: pointer;
  color: #FFF;
}
@media (max-width: 767px) {
  .side-nav {
    width: 100% !important;
    left: -100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .side-nav {
    width: 270px !important;
    left: -270px;
  }
}
.menu-icon {
  height: 24px;
  width: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  margin-left: 0;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon > div {
  width: 100%;
  height: 4px;
  background-color: black;
  margin-bottom: 6px;
  transition: all .4s ease;
}

.menu-icon .bar3 {
  margin-bottom: 0;
}

.x-bar {
  position: absolute;
  top: -30px;
  left: 307px !important;
  width: 30px;
  height: 30px;
  display: block;
  transition: top .5s ease;
}

.x-bar:hover {
  cursor: pointer;
}

.x-bar > div {
  background-color: black;
  width: 100%;
  height: 4px;
  margin-bottom: 6px;
  transition: .3s ease;
}

.x-bar .side-bar1 {
  -webkit-transform: rotate(-45deg)translate(-8px, 7px);
  -moz-transform: rotate(-45deg)translate(-8px, 7px);
  -o-transform: rotate(-45deg)translate(-8px, 7px);
  -ms-transform: rotate(-45deg)translate(-8px, 7px);
  transform: rotate(-45deg)translate(-8px, 7px);
}

.x-bar .side-bar2 {
  -webkit-transform: rotate(45deg) translate(1px, 0px);
  -moz-transform: rotate(45deg) translate(1px, 0px);
  -o-transform: rotate(45deg) translate(1px, 0px);
  -ms-transform: rotate(45deg) translate(1px, 0px);
  transform: rotate(45deg) translate(1px, 0px);
}
@media (max-width: 766px) {
  .x-bar {
    z-index: 1;
    left: 90% !important;
  }
  .x-bar > div {
    background-color: #888;
  }
}
@media (min-width: 767px) {
  .x-bar {
    left: 2%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .x-bar {
    z-index: 1;
    left: 280px !important;
  }
  .x-bar > div {
    background-color: black;
  }
}

  /* *mad* */



  #middle {
    background-image: url(images/duckbg1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 100;
  }



/*adding rain img and making opacity 0*/ 
#middle:before { 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-image: url(https://i.gifer.com/origin/74/74043b11818c7a40ae726b01c8eb4a43_w200.webp); 
    animation: rain 0.4s linear infinite; 
    opacity: 0; 
} 
/* just changing the position of image  
of rain using keyframes*/ 
@keyframes rain { 
    0% { 
        background-position: 0 0; 
        opacity: 1; 
    } 

    100% { 
        background-position: 8% 80%; 
        opacity: 1; 
    } 
} 


